body{
    background-image: url(./img2.wallspic.com-purple-rainbow-violet-electric_blue-magenta-5120x2880.jpg);
    width: 100%;
    display: grid;
    place-content: center;
}
#botones{
    display: block;
    place-content: center;
    margin-right: 100px;
    
}
.buttons{
    font-size: 25px;
    color: black;
    height: 50px;
    border-radius: 10px;
    border: 1px solid ;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #ffffff50;
}
