html, body {
    background: linear-gradient(-45deg, #9A72AC, #FF91A7, #FF5252, #00008B);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    }

body > .header,
body > .footer {
    background: transparent;
}
@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

#presentation{
    display: grid;
    place-items: rigth;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
#about_me{
    display: grid;
    place-items: rigth;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
#button_about_me{
    width: 90px;
    height: 90px;
    background: #31008b;
    border-radius: 90%;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 2px 2px 13px 0px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 13px 0px rgba(0,0,0,0.21);
    font-size: 1rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
#button_about_me:hover{
    cursor: pointer;
    z-index: 5;
    transition: transform 1.25s ease-in-out;
    transform: rotate(360deg) scale(1.1);
    -webkit-box-shadow: 2px 2px 13px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px 0px rgba(0, 0, 0, 0.21);
    }
#button_about_me:not(:hover){
    transition: transform 1.25s ease-in-out;
    transform-origin: rotate(0deg) sclae(1);
    -webkit-box-shadow: 2px 2px 13px 0px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 13px 0px rgba(0,0,0,0.21);
}