*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    margin: auto;
}
main{
    width: 100vw;
    height: 100vw;
}

@media (min-width: 450px){
    html, body {
        background: linear-gradient(-45deg, #9A72AC, #FF91A7, #FF5252, #00008B);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        }

    body > .header,
    body > .footer {
        background: transparent;
    }
    @keyframes gradient {
        0% {
        background-position: 0% 50%;
        }
        50% {
        background-position: 100% 50%;
        }
        100% {
        background-position: 0% 50%;
        }
    }
    #presentation{
        flex-wrap: wrap;
        max-width: 300px;
        display: grid;
        place-items: center;
        justify-content: center;
    }
    #presentation p{
        margin-left: 0px;
        margin-bottom: 100px;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
    }
    #presentation img{
        display: grid;
        place-content: center;
        justify-content: center;
        width: 250px;
        border-radius: 50px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.21);
    }
    #presentation img:hover{
        transform: scale(1.1);
        transition: 1.25s ease;
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.21);

    }
    #presentation img:not(hover){
        transform: scale(1);
        transition: 1.25s ease;
    }
    #about_me{
        flex-wrap: wrap;
        margin-left: 250px;
        margin-top: 25px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
    #about_me #button_about_me{
        margin-top: 75px;
        margin-bottom: 10px;
        width: 90px;
        height: 90px;
        background: transparent;
        border-radius: 90%;
        border-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21) outset;
        font-size: 1rem;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }
    #about_me #button_about_me:hover{
        cursor: pointer;
        z-index: 5;
        transition: transform 1.25s ease-in-out;
        transform: rotate(360deg) scale(1.1);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.21);
        }
    #about_me #button_about_me:not(:hover){
        transition: transform 1.25s ease-in-out;
        transform-origin: rotate(0deg) sclae(1);
        box-shadow: 3px 3px 10px rgba(0,0,0,0.21);
    }
}

@media (min-width: 1024px){
    }
    html, body {
        background: linear-gradient(-45deg, #9A72AC, #FF91A7, #FF5252, #00008B);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        }

    body > .header,
    body > .footer {
        background: transparent;
    }
    @keyframes gradient {
        0% {
        background-position: 0% 50%;
        }
        50% {
        background-position: 100% 50%;
        }
        100% {
        background-position: 0% 50%;
        }
    }
    #presentation{
        margin-top: 250px;
        margin-left: 250px;
        padding-right: 0%;
    }
    #presentation p{
        display: grid;
        place-items: left;
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
    }
    #presentation img{
        margin-right: 400px;
        width: 300px;
        float: right;
        border-radius: 100px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.21);
    }
    #presentation img:hover{
        transform: scale(1.1);
        transition: 1.25s ease;
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.21);

    }
    #presentation img:not(hover){
        transform: scale(1);
        transition: 1.25s ease;
    }
    #about_me{
        margin-left: 250px;
        margin-top: 25px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
    #about_me #button_about_me{
        margin-top: 75px;
        margin-bottom: 10px;
        width: 90px;
        height: 90px;
        background: transparent;
        border-radius: 90%;
        border-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21) outset;
        font-size: 1rem;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }
    #about_me #button_about_me:hover{
        cursor: pointer;
        z-index: 5;
        transition: transform 1.25s ease-in-out;
        transform: rotate(360deg) scale(1.1);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.21);
        }
    #about_me #button_about_me:not(:hover){
        transition: transform 1.25s ease-in-out;
        transform-origin: rotate(0deg) sclae(1);
        box-shadow: 3px 3px 10px rgba(0,0,0,0.21);
    }       
}
